body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid-grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
}

.grid-grid-2-columns {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 32px;
  align-items: start;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.btn {
  display: block;
  color: white;
  background-color: #fb5c8d;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  text-decoration: none;
}

.img-fixed {
  width: 285px;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px;
}

header h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: black;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid-grid-2-columns,
  .grid-grid-3-columns {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .img-fixed {
    width: 100%;
    height: auto;
  }
  section {
    padding: 30px;
  }
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  color: pink;
  opacity: 0.3;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 1;
  letter-spacing: 0%;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 1;
  letter-spacing: 0%;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 40;
  font-size: 16px;
  line-height: 1.4;
  opacity: 0.7;
}

footer {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/footer.png);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  opacity: 0.9;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}
